@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
	font-family: Roboto, Trebuchet MS, sans-serif;
	font-size: 15pt;
	margin: 0;
	color: #000000;
}

h1, h2 {
	font-size: 25pt;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Header **/


header {
	background-color: #F5F5F5;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

header h1 {
	font-size: 35pt;
	font-weight: 900;
	padding: 0.5em 0.25em;
	display: inline-block;
}

header h2 {
	font-size: 25pt;
	font-weight: 400;
	color: #2699FB;
	font-style: italic;
	display: inline-block;
}

header a {
	color: #444444;
}

/* Nav **/

nav {
	width: 80%;
	margin: 0 auto;
}

nav ul {	
	list-style-type: none;
	background-color: #707070;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	text-align: center;
	padding: 1em;
	width: 10%;
}

nav a {
	color: #FFFFFF;
}

nav li:hover {
	background-color: #444444;
}

/* Video **/

video {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

/* main **/

main {
	width: 80%;
	margin: 0 auto;
	background-color: #AAAAAA;
	overflow: hidden;
}

main h2, main h1, main p {
	margin: 2%;
	display: block;
}

.main-content {
	float: left;
	width: 62%;
	margin: 1%;
	padding: 1%;
	background-color: #F5F5F5;
}

/* aside **/

aside {
	float: right;
	width: 30%;
	margin: 1%;
	padding: 1%;
	background-color: #F5F5F5;
}

aside h2 {
	font-weight: 100;
	color: #444444;
}

/* content **/

.par1{
	width: 100%;
	display: inline-block;	
	margin: 0;
	padding: 0;
}

.par1 article {
	float: left;
	width: 60%;
}

.par1 img {
	float: right;
	width: 35%;
	padding: 2.5%;
}

.par2 {
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.par2 article {
	float: right;
	width: 60%;
}

.par2 img {
	float: left;
	width: 35%;
	padding: 2.5%;
}

/* contact **/

form {
	background-color: #F5F5F5;
	padding: 2.5%;
	margin: 2.5%;
}

fieldset {
	width: 50%;
	margin: 0 auto;
	
}

input, textarea {
	width: 100%;
}

/* sports **/

article ul {
    list-style: none;
    padding-left: 0;
}

article li {
	background-color: #F5F5F5;
	margin-bottom: 1em; 
}

article img {
	height: 10%;
	width: 10%;
	float: left;
	padding-right: 1%;
}

article a {
	display: inline-block;
	padding: 0.25em 0.5em;
	color: #000000;
}

/* Cookie **/

#cookie {
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	position: fixed;
	bottom: 0;
	padding-left: 10%;
	background-color: #444444;
	color: #F5F5F5;
	opacity: 0.9;
} 

#cookie h2, p {
	display: inline;
	margin-right: 1em;
}

/* footer **/

footer {
	background-color: #F5F5F5;
	width: 80%;
	margin: 0 auto;
}

footer p {
	display: block;
	padding: 0.5em;
	margin: 0;
}





